.body_home {
	margin : 0px;
    font-family: sans-serif;
}

.div_body {
    min-height: 89.1%;
    background: #F2F2F2;
    float: left;
    width: 100%;
}

button{
    border-radius: 5px;
}
.div_top {
    height: 75px;
    background: #134777;
}

.radius-5{
    border-radius: 5px !important;
}

.radius-3{
    border-radius: 3px !important;

}

.radius-bottom-5{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.radius-top-5{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.div_top_logo {
    float: left;
}

.div_top_right {
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}

.div_top_right_logged {
    float: right;
    margin-top: 10px;
    margin-right: 100px;
}

.facebook {
	background: url("../icons/social_facebook.png") no-repeat;
}

.twitter {
    background: url("../icons/social_twitter.png") no-repeat;
}

.linkedin {
    background: url("../icons/social_linkedin.png") no-repeat;
}

.skype {
	background: url("../icons/social_skype.png") no-repeat;
}

.pintrest {
	background: url("../icons/social_pintrest.png") no-repeat;
}

.social-icons {
    margin: 0;
    float: right;
}

.social-icons li {
    display: inline;
    list-style: none;
    text-indent: -9999px;
    margin-left: 5px;
    float: left;
    transition: all 0.3s ease-in-out;
}

.social-icons li a {
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 28px;
    width: 28px;
}

.top-navigation{
    background: #303030;
    display: block;
    width: 100%;

}

.top-navigation ul li{
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 5px;
    margin-bottom:0px;
}

.top-navigation ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 9px 20px 6px;
}

.top-navigation ul li a:hover, .top-navigation ul li:hover > a {
    border-bottom: 3px solid #004a7a;
}
.top-navigation ul{
    height: inherit;
    box-sizing: border-box;
    padding-left: 25%;
}



